<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    {% if myProject.environment == "production" %}
      <link rel="stylesheet" href="{{ '/assets/styles/style.min.css' | url }}">
    {% else %}
      <link rel="stylesheet" href="{{ '/assets/styles/style.css' | url }}">
    {% endif %}
  </head>
  <body>
    <div class="container mx-auto text-center pt-5">
      <h1 class="text-5xl underline mb-5">Welcome to 11ty + Tailwind JIT!</h1>
      <p class="text-2xl font-serif text-purple-600 mb-2">Add some styling to this paragraph. And check out the button!</p>
      <button class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-blue-500 hover:bg-blue-600 hover:shadow-lg">
        Hey there!
      </button>
    </div>
  </body>
</html>
